.cardBox {
    width: 150px;
    height: 210px;
    transition: all 0.25s;
    cursor: pointer;
}

.cardBox:hover {
    transform: scale(1.3);
}

.cardBox .cardbg {
    background: #eeeeee;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.cardBox .cardImage {
    height: 100%;
}

.shoupaiBox {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%, 0%);
    display: flex;
}